# Telegram
BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=

# Jira
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=

# Database (Railway автоматически даст DATABASE_URL)
DATABASE_URL=

# Domain for webhooks
RAILWAY_PUBLIC_DOMAIN=
PORT=8080
RAILWAY_BETA_ENABLE_RUNTIME_V2=false